.barraNav {
  background-color: rgba(43, 187, 43, 0.582);
  color: #eaeaf0;
  border-radius: 15px;
  height: 30px;
  display: grid; }

.alinks {
  text-decoration: none;
  color: #eaeaf0;
  border-color: black;
  border-radius: 15px;
  margin-bottom: 30px; }

.margintop {
  margin-top: 30px;
  margin-bottom: 30px; }

.footer {
  background-color: #18924f;
  padding-left: 15%; }

.damevi {
  height: 1fr; }

.instagram {
  display: flex;
  justify-content: space-between; }

.imgfooter {
  display: flex;
  justify-content: center; }

.textoindex {
  background-color: #18924f;
  color: #eaeaf0;
  border-radius: 30px;
  border-color: black;
  padding-top: 30px; }

body {
  background-image: url(../imagen/damevida/hintersee-3601004_1920.jpg); }

@media only screen and (min-width: 320px) and (max-width: 780px) {
  body {
    background-image: url(../imagen/damevida/hintersee-3601004_1920.jpg); }
  .alinks {
    font-size: 15px; }
  .contactop {
    background-color: gray;
    opacity: 50%;
    border-radius: 5px; }
  .margintoper {
    margin-top: 40px; }
  .imgfooter {
    display: flex;
    justify-content: center; } }

@media only screen and (min-width: 780px) and (max-width: 1500px) {
  body {
    background-image: url(../imagen/damevida/hintersee-3601004_1920.jpg); } }
