.textoindex {
    background-color:$colorPrincipal;
    color: $colorletra;
    border-radius: 30px;
    border-color: black;
}

body {
    background-image: url(../imagen/damevida/hintersee-3601004_1920.jpg);
}
