.footer {
    background-color: $colorPrincipal;
    padding-left: 15%;
}

.damevi{
  height: 1fr;
}
.instagram {
    display: flex;
    justify-content: space-between;
}

.imgfooter {
  display: flex;
  justify-content: center;
}

.qhacemo {
  background-color: map-get($mapacolor ,  $colorPrincipal);
}


