.barraNav {
    background-color: $colorsecundario;
    color: $colorletra;
    border-radius: 15px;
    height: 30px;
    display: grid;
    
    
    
    
}
.alinks {
    text-decoration: none;
    color : $colorletra;
    border-color: black;
    border-radius: 15px;
    margin-bottom: 30px;
    
}

.margintop {
    margin-top: 30px;
    margin-bottom: 30px;
}