$colorPrincipal:rgb(24, 146, 79);
$colorsecundario: rgba(43, 187, 43, 0.582);
$colorletra:rgb(234, 234, 240);

$mapacolor:(
    color:rgb(21,146,79),
    colorsecundario:(42 ,187,43,0.582),
    colorletra:rgb(234,234,240),
);
